
nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    z-index:10;
    align-items: center;
    transition: ease-in-out 1s;
    padding: 40px 5% 0px 5%;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}


nav button{
    display: flex;
    border: none;
    font-size: medium;
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px 60px;
    color: black;
    background: gold;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

nav a{
    text-decoration: none;
}

nav button:hover{
    color: rgb(193, 166, 10);
    background-color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
}


nav ul li a{
    font-size: large;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: ease-in-out 0.3s;
}

nav a{
    cursor: pointer;
}

nav ul li a:hover{
    color: gold;
}
.menu{
    display: none;
}

.colorblack li a{
    color: black;
}


.join{
    transition: ease-in-out 0.5s;
    
}

.join_text{
    transition: ease-in-out 0.5s;
    display: none;
}


.signout{
    border: 0px solid none;
    padding:  10px 0px ;
    margin: 0px;
    position: absolute;
    width: 70px;
    background: rgb(255, 89, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 13px;
}

@media only screen and (max-width: 1150px) and (min-width:700px){

   nav{
        display: flex;
    }

    nav ul{
        background-color: gold;
        display: grid;
        position: absolute;
        right: 10px;
        top: 140px;
        transition: ease-in-out 0.5s;
        border-bottom-left-radius: 30px;
    }
    nav ul{
        padding: 200px 100px;

    }
    nav ul li a{
        color: black;
        display: grid;
        font-size: 20px;
    }

    nav ul li a:hover{

        color: black;
    }
    
    .menu{
        display: flex;
        height: 50px;
        color: black;
        transition: ease-in-out 0.5s;
        font-size: 30px;
    }
    .menu:hover{
        background-color: gold;
        color: black;
    }

    .nav_links{
        display: none;
    }
    .join{
        display: none;
    }

    .join_text{
        justify-content: center;
        display: flex;
    }
}


@media only screen and (max-width: 700px) {
    nav{
        display: flex;
    }

    nav ul{
        background-color: gold;
        display: grid;
        position: absolute;
        right: 10px;
        top: 140px;
        transition: ease-in-out 0.5s;
        border-bottom-left-radius: 30px;
    }
    nav ul{
        padding: 200px 100px;

    }
    nav ul li a{
        color: black;
        display: grid;
        font-size: 20px;
    }

    nav ul li a:hover{

        color: black;
    }
    
    .menu{
        display: flex;
        height: 50px;
        color: black;
        transition: ease-in-out 0.5s;
        font-size: 30px;
    }
    .menu:hover{
        background-color: gold;
        color: black;
    }

    .nav_links{
        display: none;
    }
    .join{
        display: none;
    }

    .join_text{
        justify-content: center;
        display: flex;
    }
}

